.p-cta {
    background: $font1-color;

}


.p-cta__inner {
    text-align: center;
    padding-block-start: 40px;
    padding-block-end: 40px;
}

.p-cta__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    color: $font2-color;

     @include mq(lg) {
    font-size: 36px;
    font-weight: 700;
    line-height: 52.13px;
    letter-spacing: 0.02em;
    }

}


.p-cta__btn {
    margin-block-start: 24px;
    border: none;

}
