.p-feature {
    padding-block: rem(60);
    background: $accent3-color;
}



.p-feature__inner {
    padding-inline: 0;
    
    @include mq(md) {
         max-width: calc(1235 / 1440 * 100%);
    }
}



.p-feature__container {
    margin-block-start: cal-clamp(-25, 100);

    
    @include mq(md) {
        display: flex;
        flex-direction: column;
    }
}

.p-feature__item {
    display: flex;
    flex-direction: column;

     @include mq(md) {
        flex-direction: row-reverse;
        justify-content: space-between;

        &:nth-of-type(even) {
            margin-block-start: cal-clamp(80, 153);
            flex-direction: row;
        }

        &:nth-of-type(3) {
            margin-block-start: cal-clamp(80, -80);

        }

    }
}

.p-feature__img {
    position: relative;
    padding-inline: cal-clamp(47, 0);
    translate: 0 75px;
    z-index: 10;

    & img {
        height: auto;
    }

     @include mq(md) {
        max-width: 520px;
        width: 100%;
        translate: -108px 0;
    }

    &.-reverse {

         @include mq(md) {
            translate: 68px 0;
        }
    }


}

.p-feature__body {
    background: $sub2-color;
    padding-block-start: rem(49);
    padding-block-end: rem(40);
    padding-inline: rem(20);
    border-radius: 16px;


     @include mq(md) {
        max-width: calc( 742 / 1235 * 100%);
        height: calc( 336 / 490 * 100%);
        align-self: end;
    }

    &.-reverse {

         @include mq(md) {
            align-self: start;
        }
    }
}

.p-feature__titleWrap {
    display: flex;
    flex-direction: column;
    padding-inline-start: cal-clamp(0, 20);

     @include mq(md) {
        flex-direction: row;
        justify-content: left;
        column-gap: 18px;
    }
}

.p-feature__number {
    font-size: cal-clamp(42, 72);
    font-weight: 700;
    line-height: cal-clamp(42, 95.69);
    color: $primary-color;

}

.p-feature__title {
    font-size: rem(22);
    font-weight: 700;
    line-height: rem(31.86);


}

.p-feature__text {
    font-size: rem(14);
    line-height: rem(22.4);
    margin-block-start: cal-clamp(0, 17);
    padding-inline-start: cal-clamp(0, 87);
    padding-inline-end: cal-clamp(0, 104);

}



