.p-flow {
    background: $accent3-color;
    padding-block-start: cal-clamp(60, 100);
    padding-block-end: cal-clamp(60, 80);
}

.p-flow__inner {

    @media (600px <= width <= 767px) {
        padding-inline: rem(100);
    }
    @media (520px <= width <= 599px) {
        padding-inline: rem(60);
    }
}

.p-flow__container {
    display: flex;
    margin-block-start: rem(40);
    flex-direction: column;
    row-gap: 60px;

     @include mq(md) {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 98px;
        row-gap: 0;
    }

}

.p-flow__item {
    position: relative;

     @include mq(md) {
        flex: 1 1 0%;
    }

}

.p-flow__number {
    position: absolute;
    top: -29px;
    left: 0;
    font-size: rem(48);
    font-weight: 700;
    line-height: rem(48);
    color: $primary-color;

     @include mq(md) {
        top: -19px;
        left: -12px;

    }
    }

.p-flow__img {
    display: grid;
    padding-block-start: rem(20);
    padding-block-end: rem(20);
    place-items: center;
    background: $accent2-color;
    border-radius: 30px;

    & img {
        width: calc(199 / 280 * 100%);
        height: auto;
    }
}

.p-flow__title {
    margin-block-start: rem(16);
    font-size: cal-clamp(20, 24);
    font-weight: 700;
    line-height: cal-clamp(20, 34.75);
    text-align: center;

}

.p-flow__text {
    margin-block-start: rem(8);
    line-height: rem(28.8);
    text-align: left;

}

