.p-fv {
    background: $accent2-color;
    padding-block-end: rem(60);
}


.p-fv__inner {
    padding-block-start: cal-clamp(60, 33);

     @include mq(lg) {
        display: flex;
        justify-content: space-between;
    }
}

.p-fv__container {

}

.p-fv__title {
    font-size: cal-clamp(30, 60);
    margin-block-start: cal-clamp(0, 84);
    line-height: cal-clamp(48, 86.88);
}

.p-fv__text {
    margin-block-start: rem(16);
    line-height: cal-clamp(25.6, 32.4);
    font-size: cal-clamp(16, 18);

}

.p-fv__img-sp {
    max-width: 515px;
    width: 100%;
    height: auto;
}


.p-fv__cta {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    text-align: center;
    margin-block-start: cal-clamp(0, 33);

     @include mq(lg) {
        flex-direction: row;
        gap: 37px;
    }
}

.c-btn.p-fv__btn {
    max-width: 250px;
    height: 54px;
    border: none;

     @include mq(lg) {
        margin-inline: 0;
    }
}


.p-fv__img-pc {
    max-width: 515px;
    width: 100%;
    height: auto;
}



