.p-price {
    padding-block-start: cal-clamp(60, 100);
    padding-block-end: cal-clamp(60, 100);
}

.p-price__container {
  width: 100%;
  padding-block-end: 30px;
  text-align: center;
  
  // 100%の幅内で 1000px の子要素をスクロールさせる
  overflow-x: auto;

  // scroll-barのカスタマイズ
  &::-webkit-scrollbar {
    height: 10px; // 高さ
  }

  &::-webkit-scrollbar-track {
    background-color: #E2E2E2; // 背景色
  }

  &::-webkit-scrollbar-thumb {
    background-color: #0500E3; // アクティブな箇所の色
  }


}

.p-price__head {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-block-start: cal-clamp(40, 68);
  margin-inline: auto;
  width: 727px;
  @include mq(lg) {
    width: 1020px;
 }
}

.p-price__head-item {
  padding-block-start: rem(47);
  padding-block-end: rem(41);
  padding-inline: rem(13);
  background: $font1-color;
  color: $font2-color;
  text-align: center;


  &.-main {
      background: $primary-color;

  }

}

.p-price__head-title {
    font-size: cal-clamp(20, 24);
    line-height: cal-clamp(28.6, 34.75);
    font-weight: 700;
    color: $font2-color;

    &.-main {
      padding-block-start: rem(10);
      font-size: cal-clamp(24, 28);
      line-height: cal-clamp(34.75, 40.32);
    }
}

.p-price__head-price {
    margin-block-start: cal-clamp(11, 17);
    font-size: cal-clamp(14, 20);
    line-height: cal-clamp(20.27, 28.96);
    font-weight: 700;
    color: $font2-color;

    & span {
      font-family: $font-family-ja;
      font-size: cal-clamp(30, 36);
      line-height: cal-clamp(43.44, 52.13);
    }

    &.-main {
      margin-block-start: cal-clamp(1, 7);
      font-size: cal-clamp(20, 26);
      line-height: cal-clamp(28.96, 37.65);

      & span {
        font-family: $font-family-ja;
        font-size: cal-clamp(36, 42);
        line-height: cal-clamp(52.13, 60.82);
      }
    }
}

.p-price__btn {
  margin-block-start: cal-clamp(19, 28);
  padding-block: cal-clamp(13, 16);
  padding-inline: rem(19);
  font-size: cal-clamp(16, 18);
  line-height: cal-clamp(16, 18);

   @include mq(lg) {
    padding-inline: rem(45);
  }

  &.__w {
    color: $font1-color;
    border: 2px solid $font1-color;

    @media(any-hover: hover) {
      &:hover {
        background: $font1-color;
        border: 2px solid $font2-color;
        color: $font2-color;
      }
    }
  }
}




  
