// 下から上へのアニメーション
.animated__fadeIn {
    // before (出現前)
    opacity: 0;
    translate: 0 40px;
    transition: 
      opacity 0.6s cubic-bezier(0.33, 1, 0.68, 1),
      translate 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  
    // after (出現後)
    &.js-show {
      opacity: 1;
      translate: 0 0;
    }
  }

// translateのスタート位置が外にはみ出るので overflow: hiddenをつける
.service {
  overflow: hidden;
}

// 左からスライドするアニメーション
.animated__slideIn--left {
  // before (出現前)
  opacity: 0;
  translate: 0 40px;
  transition: opacity 2s ease, translate 1.5s ease;
  
  // スマホの時はフェードイン
  @media (min-width: 800px) {
    opacity: 0;
    translate: -1000px 0;
  }

  // after (出現後)
  &.js-show {
    opacity: 1;
    translate: 0;
  }
}

// 右からスライドするアニメーション
.animated__slideIn--right {
  // before (出現前)
  opacity: 0;
  transition: opacity 3s ease, translate 1.5s ease;
  translate: 0 40px;
  
  // スマホの時はフェードイン
  @media (min-width: 800px) {
    opacity: 0;
    translate: 1000px 0;
  }

  // after (出現後)
  &.js-show {
    opacity: 1;
    translate: 0;
  }
}