.c-btn {
    display: inline-block;
    max-width: 300px;
    width: 100%;
    height: 58px;
    color: $sub2-color;
    background: $primary-color;
    border: 1px solid $primary-color;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
    border-radius: 29px;
    transition: all 0.4s ease;

     @include mq(sm) {
    }

    @media(any-hover: hover) {
        &:hover {
            background: #fff;
            .c-contact__button__link {
                color: $accent1-color;
            }
        }
        &:hover .c-contact__button__link::before {
            border-top: 2px solid $accent1-color;
            border-right: 2px solid $accent1-color;
        }
    }
}

