.c-btn {
    display: inline-block;
    margin-inline: auto;
    padding-block-start: rem(18);
    padding-block-end: rem(22);
    padding-inline: rem(42);
    font-size: rem(18);
    font-weight: 700;
    line-height: rem(18);
    color: $sub2-color;
    background: $primary-color;
    border: 2px solid $sub2-color;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
    border-radius: 29px;
    transition: all 0.4s ease;

    &.__w {
        background: $sub2-color;
        color: $primary-color;
        border: 2px solid $primary-color;

        @media(any-hover: hover) {
            &:hover {
                background: $primary-color;
                color: $sub2-color;
                border: 2px solid $sub2-color;
            }
        }
    }



     @include mq(lg) {
    }

    @media(any-hover: hover) {
        &:hover {
            background: #fff;
            color: $primary-color;

        }
        &:hover .c-contact__button__link::before {
            border-top: 2px solid $accent1-color;
            border-right: 2px solid $accent1-color;
        }
    }
}

