/* ================================
   本題のCSS
=============================== */
.c-slider__swiper-container,
.c-slider__swiper,
.c-slider__swiper-wrapper,
.c-slider__swiper-slide {
  position: relative;
}

/* 位置のreset */
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
  margin: 0;
  padding: 0;
}


/* =============================
   ナビゲーションボタン
============================= */
/* デフォルトのボタンを初期化 */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: ""; /* デフォルトのものを初期化 */
}

/* 各ボタンのカスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  translate: 0 -50%;
  width: 40px;
  height: 40px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.swiper-button-prev {
  left: -20px;
}

.swiper-button-next {
  right: -20px;
}

/* =============================
   ページネーション (bullets)
============================= */
/* 位置の設定 (枠組み) */
.swiper-pagination-bullets.swiper-pagination-horizontal {
  // top: calc(100% + 29px);
}

/* それぞれのページネーション */
.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  opacity: 1;
  width: 12px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #d9d9d9;
  margin-inline: calc(11px / 2);
}

/* activeな部分 */
.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active {
  background: #000;
}

/* =============================
   調整用
============================= */

/* =============================
   トップのスライダー
============================= */

.p-top-works .c-slider__swiper-wrapper {
  padding-inline-start: 10px;
}

.c-slider__swiper-slide {
  max-width: 330px;
  width: 100%;
  height: auto;


   @include mq(sm) {
    max-width: 350px;

  }
  
  @media(any-hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
  
  & img {
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 330 / 237;

     @include mq(sm) {
      aspect-ratio: 350 / 226;
    }
  }
}

.p-top-works__container .c-slider__swiper {
  z-index: 600;
}

.p-top-works__container .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: block;
}

.p-top-works__container .swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  width: 8px;
}





.p-top-works__container .swiper-button-prev {
  top: 47%;
  left: -45px;
  width: 30px;
  height: 55px;
  z-index: 700;

  @include mq(sm) {
    width: 50px;
    height: 50px;
  }
  &::after {
    content: "";
    background: url("../img/arrow-left.svg") no-repeat;
    width: 30px;
    height: 55px;

     @include mq(sm) {
      background: url("../img/arrow-left_sp.png") no-repeat;
      width: 50px;
      height: 50px;
    }
  }
}

.p-top-works__container .swiper-button-next {
  top: 47%;
  right: -45px;
  width: 30px;
  height: 55px;
  z-index: 700;

   @include mq(sm) {
    width: 50px;
    height: 50px;
  }
  &::after {
    content: "";
    background: url("../img/arrow-right.svg") no-repeat;
    width: 30px;
    height: 55px;

    @include mq(sm) {
      background: url("../img/arrow-right_sp.png") no-repeat;
      width: 50px;
      height: 50px;
    }
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active {
  background: $accent1-color;
}

.p-top-works__container .swiper-button-prev {
   @include mq(sm) {
     left: 0;
  }
}

.p-top-works__container .swiper-button-next {
   @include mq(sm) {
     right: 0;
  }
}

.p-top-works__container .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 65px;

   @include mq(sm) {
    bottom: 30px;
    left: 0;

  }
}
/* =============================
   ワークスのスライダー
============================= */
.p-works-gallery__container .c-slider__swiper-slide {
  max-width: 400px;
  width: 100%;
  height: auto;

   @include mq(sm) {
    height: auto;
  }

  & img {
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 400 / 267;
  }
}



.p-works-gallery__container .swiper-button-prev {
  display: flex;
  left: 30%;
  top: 13%;

  &::after {
    content: "";
    background: url("../img/arrow-right-sm.svg") no-repeat;
    width: 16px;
    height: 35px;
    rotate: 180deg;
  }

   @include mq(sm) {
    right: 30%;
    top: 56px;
  }

  @media screen and (max-width: 600px) {
    left: 18%;
    
  }
  @media screen and (max-width: 420px) {
    left: 5%;
    
  }
}

.p-works-gallery__container .swiper-button-next {
  display: flex;
  right: 30%;
  top: 13%;

  &::after {
    content: "";
    background: url("../img/arrow-right-sm.svg") no-repeat;
    width: 16px;
    height: 35px;
  }

   @include mq(sm) {
    right: 30%;
    top: 56px;
  }

  @media screen and (max-width: 600px) {
    right: 18%;
    
  }

  @media screen and (max-width: 420px) {
    right: 5%;
    
  }
}

.p-works-gallery__container .swiper-horizontal>.swiper-pagination-bullets,.swiper-pagination-bullets.swiper-pagination-horizontal,.swiper-pagination-custom,.swiper-pagination-fraction{
  display: none;
}
