.c-table {
  width: 727px;
  margin-inline: auto;

   @include mq(lg) {
     width: 1020px;
  }
  }

.c-table__row {
    display: grid;
    grid-template-columns: 187px repeat(3, 180px);
    place-items: center;

     @include mq(lg) {
        grid-template-columns: 240px repeat(3, 260px);
    }

    &:nth-child(odd) {
        background: $accent2-color;
    }
    &:nth-child(even) {
        background: $sub2-color;
    }

  }
  
  .c-table__side-head, .c-table__data {
    padding-block: rem(19);
}





.c-table__head-title {

}

.c-table__head-price {

}


.c-cta__btn {

}



.-main {

}



.c-table__side-head {

}

.c-table__data {

}

