@charset "UTF-8";
.animated__fadeIn {
  opacity: 0;
  translate: 0 40px;
  -webkit-transition: opacity 0.3s ease, translate 0.3s ease;
  transition: opacity 0.3s ease, translate 0.3s ease;
}
.animated__fadeIn.js-show {
  opacity: 1;
  translate: 0 0;
}

.animated__fadeInStagger {
  opacity: 0;
  translate: 0 40px;
  -webkit-transition: opacity 0.3s ease, translate 0.3s ease;
  transition: opacity 0.3s ease, translate 0.3s ease;
}
.animated__fadeInStagger.js-show {
  opacity: 1;
  translate: 0 0;
}

.animated__clipView {
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
  -webkit-transition: -webkit-clip-path 2s ease;
  transition: -webkit-clip-path 2s ease;
  transition: clip-path 2s ease;
  transition: clip-path 2s ease, -webkit-clip-path 2s ease;
}
.animated__clipView.js-show {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

/*===========================================================================
# colors
===========================================================================*/
/*===========================================================================
# font
===========================================================================*/
/*===========================================================================
# Inner
===========================================================================*/
/*==========================================================================
# reset - ブラウザの差異や不要なスタイルを無くすためのスタイル
========================================================================== */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

/*===========================================================================
# common - 全体に共通するスタイル
===========================================================================*/
body {
  font-size: 16px;
  font-weight: 400;
  color: #2D2D32;
  background: #fff;
  font-family: "Lato", "Noto Sans JP", serif;
}

img {
  width: 100%;
}

a {
  color: #2D2D32;
  text-decoration: none;
}

li {
  list-style: none;
}

.is-pc {
  display: none;
}
@media (min-width: 1200px) {
  .is-pc {
    display: block;
  }
}

.is-sp {
  display: block;
}
@media (min-width: 1200px) {
  .is-sp {
    display: none;
  }
}

/*
* {
	outline: 1px solid magenta;
}

*/
.c-btn {
  display: grid;
  max-width: 300px;
  width: 100%;
  height: 58px;
  margin-inline: auto;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  place-items: center;
  color: #fff;
  background: #64629D;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
  border-radius: 29px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.c-btn.__w {
  background: #fff;
  color: #64629D;
  border: 2px solid #64629D;
}
@media (any-hover: hover) {
  .c-btn.__w:hover {
    background: #64629D;
    color: #fff;
    border: 2px solid #fff;
  }
}
@media (any-hover: hover) {
  .c-btn:hover {
    background: #fff;
    color: #64629D;
  }
  .c-btn:hover .c-contact__button__link::before {
    border-top: 2px solid #9F9EC1;
    border-right: 2px solid #9F9EC1;
  }
}

/* ================================
   本題のCSS
=============================== */
.c-slider__swiper-container,
.c-slider__swiper,
.c-slider__swiper-wrapper,
.c-slider__swiper-slide {
  position: relative;
}

/* 位置のreset */
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
  margin: 0;
  padding: 0;
}

/* =============================
   ナビゲーションボタン
============================= */
/* デフォルトのボタンを初期化 */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: ""; /* デフォルトのものを初期化 */
}

/* 各ボタンのカスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  translate: 0 -50%;
  width: 40px;
  height: 40px;
}
.swiper-button-prev svg,
.swiper-button-next svg {
  width: 100%;
  height: 100%;
}

.swiper-button-prev {
  left: -20px;
}

.swiper-button-next {
  right: -20px;
}

/* =============================
   ページネーション (bullets)
============================= */
/* 位置の設定 (枠組み) */
/* それぞれのページネーション */
.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  opacity: 1;
  width: 12px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #d9d9d9;
  margin-inline: 5.5px;
}

/* activeな部分 */
.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active {
  background: #000;
}

/* =============================
   調整用
============================= */
/* =============================
   トップのスライダー
============================= */
.p-top-works .c-slider__swiper-wrapper {
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}

.c-slider__swiper-slide {
  max-width: 330px;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .c-slider__swiper-slide {
    max-width: 350px;
  }
}
@media (any-hover: hover) {
  .c-slider__swiper-slide:hover {
    opacity: 0.8;
  }
}
.c-slider__swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 330/237;
}
@media (min-width: 768px) {
  .c-slider__swiper-slide img {
    aspect-ratio: 350/226;
  }
}

.p-top-works__container .c-slider__swiper {
  z-index: 600;
}

.p-top-works__container .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: block;
}

.p-top-works__container .swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  width: 8px;
}

.p-top-works__container .swiper-button-prev {
  top: 47%;
  left: -45px;
  width: 30px;
  height: 55px;
  z-index: 700;
}
@media (min-width: 768px) {
  .p-top-works__container .swiper-button-prev {
    width: 50px;
    height: 50px;
  }
}
.p-top-works__container .swiper-button-prev::after {
  content: "";
  background: url("../img/arrow-left.svg") no-repeat;
  width: 30px;
  height: 55px;
}
@media (min-width: 768px) {
  .p-top-works__container .swiper-button-prev::after {
    background: url("../img/arrow-left_sp.png") no-repeat;
    width: 50px;
    height: 50px;
  }
}

.p-top-works__container .swiper-button-next {
  top: 47%;
  right: -45px;
  width: 30px;
  height: 55px;
  z-index: 700;
}
@media (min-width: 768px) {
  .p-top-works__container .swiper-button-next {
    width: 50px;
    height: 50px;
  }
}
.p-top-works__container .swiper-button-next::after {
  content: "";
  background: url("../img/arrow-right.svg") no-repeat;
  width: 30px;
  height: 55px;
}
@media (min-width: 768px) {
  .p-top-works__container .swiper-button-next::after {
    background: url("../img/arrow-right_sp.png") no-repeat;
    width: 50px;
    height: 50px;
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active {
  background: #9F9EC1;
}

@media (min-width: 768px) {
  .p-top-works__container .swiper-button-prev {
    left: 0;
  }
}

@media (min-width: 768px) {
  .p-top-works__container .swiper-button-next {
    right: 0;
  }
}

.p-top-works__container .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 65px;
}
@media (min-width: 768px) {
  .p-top-works__container .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 30px;
    left: 0;
  }
}

/* =============================
   ワークスのスライダー
============================= */
.p-works-gallery__container .c-slider__swiper-slide {
  max-width: 400px;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .p-works-gallery__container .c-slider__swiper-slide {
    height: auto;
  }
}
.p-works-gallery__container .c-slider__swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 400/267;
}

.p-works-gallery__container .swiper-button-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 30%;
  top: 13%;
}
.p-works-gallery__container .swiper-button-prev::after {
  content: "";
  background: url("../img/arrow-right-sm.svg") no-repeat;
  width: 16px;
  height: 35px;
  rotate: 180deg;
}
@media (min-width: 768px) {
  .p-works-gallery__container .swiper-button-prev {
    right: 30%;
    top: 56px;
  }
}
@media screen and (max-width: 600px) {
  .p-works-gallery__container .swiper-button-prev {
    left: 18%;
  }
}
@media screen and (max-width: 420px) {
  .p-works-gallery__container .swiper-button-prev {
    left: 5%;
  }
}

.p-works-gallery__container .swiper-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 30%;
  top: 13%;
}
.p-works-gallery__container .swiper-button-next::after {
  content: "";
  background: url("../img/arrow-right-sm.svg") no-repeat;
  width: 16px;
  height: 35px;
}
@media (min-width: 768px) {
  .p-works-gallery__container .swiper-button-next {
    right: 30%;
    top: 56px;
  }
}
@media screen and (max-width: 600px) {
  .p-works-gallery__container .swiper-button-next {
    right: 18%;
  }
}
@media screen and (max-width: 420px) {
  .p-works-gallery__container .swiper-button-next {
    right: 5%;
  }
}

.p-works-gallery__container .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  display: none;
}

.c-drawer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1000;
  top: 9px;
  right: 22px;
  width: 21px;
  height: 33px;
  background: transparent;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (min-width: 1200px) {
  .c-drawer__icon {
    display: none;
  }
}

.c-drawer__icon--text {
  font-size: 6px;
  font-weight: 700;
  line-height: 6px;
  letter-spacing: 0.02em;
  color: #64629D;
}

.c-drawer__icon.js-show {
  position: fixed;
}

.c-drawer__icon--bar {
  width: 100%;
  height: 3px;
  background: #64629D;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.c-drawer__icon--bar:nth-of-type(3) {
  width: 62.5%;
}

.c-drawer__icon.js-show .c-drawer__icon--bar {
  background: #64629D;
}
.c-drawer__icon.js-show .c-drawer__icon--text:nth-of-type(1) {
  display: none;
}
.c-drawer__icon.js-show .c-drawer__icon--bar:nth-of-type(2) {
  rotate: 45deg;
  translate: 0 15px;
}
.c-drawer__icon.js-show .c-drawer__icon--bar:nth-of-type(3) {
  display: none;
}
.c-drawer__icon.js-show .c-drawer__icon--bar:nth-of-type(4) {
  rotate: -45deg;
  translate: 0 -15px;
}

.c-drawer {
  position: fixed;
  z-index: 999;
  top: 52px;
  right: 0;
  width: 100vw;
  height: 100svh;
  background: #EDECFC;
  overflow-y: scroll;
  translate: 101%;
  -webkit-transition: translate 0.5s ease;
  transition: translate 0.5s ease;
}
.c-drawer.js-show {
  translate: 0;
}

.c-drawer__body {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-block: 88px 40px;
}

.c-drawer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  margin-inline: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
.c-drawer__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}
.c-drawer__list li span {
  width: 20px;
  height: 20px;
  border: 2px solid #64629D;
  rotate: 45deg;
}
.c-drawer__list li a {
  color: #2D2D32;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.c-drawer__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-margin-before: 62px;
          margin-block-start: 62px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
  text-align: center;
}

.l-footer {
  position: relative;
  -webkit-padding-before: 43px;
          padding-block-start: 43px;
  -webkit-padding-after: 7px;
          padding-block-end: 7px;
  background: #fff;
}

.l-footer__inner {
  max-width: 1040px;
  width: 100%;
  padding-inline: 20px;
}

.l-footer-head {
  border-bottom: 1px solid #9F9EC1;
  -webkit-margin-before: 44px;
          margin-block-start: 44px;
  -webkit-padding-after: 13px;
          padding-block-end: 13px;
}

.l-footer__logo {
  width: 220px;
  height: 32px;
}

.l-footer-sns {
  width: 45px;
  height: 45px;
  -webkit-margin-before: 16px;
          margin-block-start: 16px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (any-hover: hover) {
  .l-footer-sns:hover {
    opacity: 0.7;
  }
}

.l-footer__nav {
  -webkit-margin-before: 16px;
          margin-block-start: 16px;
  -webkit-padding-after: 10px;
          padding-block-end: 10px;
}
@media (min-width: 768px) {
  .l-footer__nav {
    -webkit-margin-before: 30px;
            margin-block-start: 30px;
    -webkit-padding-after: 20px;
            padding-block-end: 20px;
  }
}

.l-footer__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (min-width: 768px) {
  .l-footer__nav__list {
    padding-inline: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

.l-footer__nav__list__item__link {
  line-height: 19.36px;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (any-hover: hover) {
  .l-footer__nav__list__item__link:hover {
    opacity: 0.7;
  }
}

.l-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-margin-start: 5vw;
          margin-inline-start: 5vw;
}
@media (min-width: 768px) {
  .l-footer__items {
    display: none;
  }
}

.l-footer__item {
  position: relative;
  max-width: 111px;
  width: 100%;
  z-index: 50;
}
.l-footer__item.-left {
  translate: 35% 10%;
}
.l-footer__item.-right {
  translate: -35% 10%;
}

.l-footer__to-top {
  position: relative;
  width: 151px;
  height: 58px;
  z-index: 100;
}

.l-footer__to-top__link {
  display: block;
}

.l-footer__copy {
  -webkit-margin-before: 58px;
          margin-block-start: 58px;
  text-align: right;
}
@media (min-width: 768px) {
  .l-footer__copy {
    -webkit-margin-before: 20px;
            margin-block-start: 20px;
  }
}

.l-footer__copy__text {
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.1em;
  color: #fff;
}
@media (min-width: 768px) {
  .l-footer__copy__text {
    text-align: center;
  }
}

.l-header {
  height: 52px;
  background: #fff;
}
@media (min-width: 1200px) {
  .l-header {
    height: 72px;
  }
}

.l-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.l-header__logo {
  display: block;
  width: 71px;
  height: 24px;
}
@media (min-width: 1200px) {
  .l-header__logo {
    width: 83px;
    height: 28px;
  }
}

.l-header__nav {
  display: none;
}
@media (min-width: 1200px) {
  .l-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 14px;
    max-width: 600px;
  }
}

.l-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}
.l-header__list a {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.03em;
}
.l-header__list a::after {
  content: "";
  scale: 0;
  position: absolute;
  bottom: -8px;
  right: 50%;
  width: 47.61%;
  height: 1.35px;
  translate: 50% 0;
  background: #64629D;
  -webkit-transition: scale 0.4s ease;
  transition: scale 0.4s ease;
}
@media (any-hover: hover) {
  .l-header__list a:hover::after {
    scale: 1;
  }
}

.l-header__btn {
  width: 180px;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  border: none;
  margin-inline: 0;
}
@media (any-hover: hover) {
  .l-header__btn:hover {
    background: #64629D;
    color: #fff;
    translate: -2px -2px;
  }
}

.l-inner {
  max-width: min(1227px, 100%);
  width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
}

.p-fv {
  background: #EDECFC;
  -webkit-padding-after: 60px;
          padding-block-end: 60px;
}

.p-fv__inner {
  -webkit-padding-before: 60px;
          padding-block-start: 60px;
}
@media (min-width: 1200px) {
  .p-fv__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-padding-before: 33px;
            padding-block-start: 33px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-fv__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
}
@media (min-width: 1200px) {
  .p-fv__title {
    -webkit-margin-before: 84px;
            margin-block-start: 84px;
    font-size: 60px;
    font-weight: 700;
    line-height: 86.88px;
  }
}

.p-fv__text {
  -webkit-margin-before: 16px;
          margin-block-start: 16px;
  line-height: 25.6px;
}
@media (min-width: 1200px) {
  .p-fv__text {
    font-size: 18px;
    line-height: 32.4px;
  }
}

.p-fv__img-sp {
  max-width: 515px;
  width: 100%;
  height: auto;
}

.p-fv__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
  text-align: center;
}
@media (min-width: 1200px) {
  .p-fv__cta {
    -webkit-margin-before: 33px;
            margin-block-start: 33px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 37px;
  }
}

.c-btn.p-fv__btn {
  max-width: 250px;
  height: 54px;
  border: none;
}
@media (min-width: 1200px) {
  .c-btn.p-fv__btn {
    margin-inline: 0;
  }
}

.p-fv__img-pc {
  max-width: 515px;
  width: 100%;
  height: auto;
}