.l-footer {
    position: relative;
    padding-block-start: rem(43);
    padding-block-end: rem(7);
    background: $sub2-color;
}

.l-footer__inner {
    max-width: 1040px;
    width: 100%;
    padding-inline: 20px;
}

.l-footer-head {
    border-bottom: 1px solid $accent1-color;
    margin-block-start: 44px;
    padding-block-end: 13px;
}



.l-footer__logo {
    width: 220px;
    height: 32px;
}

.l-footer-sns {
    width: 45px;
    height: 45px;
    margin-block-start: 16px;
    transition: all 0.4s ease;

    @media(any-hover: hover) {
        &:hover {
            opacity: 0.7;
        } 
    }
}



.l-footer__nav {
    margin-block-start: 16px;
    padding-block-end: 10px;


     @include mq(sm) {
        margin-block-start: 30px;
        padding-block-end: 20px;
    }

}

.l-footer__nav__list {
    display: flex;
    gap: 30px;


     @include mq(sm) {
        padding-inline: 0;
        flex-direction: column;
        gap: 30px;
    }

}

.l-footer__nav__list__item {

}

.l-footer__nav__list__item__link {
    line-height: 19.36px;
    color: #fff;
    transition: all 0.4s ease;

    @media(any-hover: hover) {
        &:hover {
            opacity: 0.7;
        } 
    }

}

.l-footer__items {
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-inline-start: 5vw;

    @include mq(sm) {
        display: none;
    }
}

.l-footer__item {
    position: relative;
    max-width: 111px;
    width: 100%;
    z-index: 50;

    &.-left {
        translate: 35% 10%;
    }

    &.-right {
        translate: -35% 10%;
    }
}



.l-footer__to-top {
    position: relative;
    width: 151px;
    height: 58px;
    z-index: 100;
}

.l-footer__to-top__link {
    display: block;

}

.l-footer__copy {
    margin-block-start: 58px;
    text-align: right;
    
    @include mq(sm) {
       margin-block-start: 20px;
    }
}

.l-footer__copy__text {
    font-size: 12px;
    line-height: 14.06px;
    letter-spacing: 0.1em;
    color: #fff;

     @include mq(sm) {
        text-align: center;
    }
}

