.l-header {
    height: 52px;
    background: $sub2-color;

     @include mq(md) {
        height: 72px;
    }
}

.l-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.l-header__logo {
    display: block;

    & img {
        width: 71px;
        height: 24px;
    }

     @include mq(md) {
        width: 83px;
        height: 28px;
    }
}

.l-header__nav {
    display: none;

     @include mq(md) {
         display: flex;
         gap: 14px;
         max-width: 610px;
    }
}


.l-header__list {
    display: flex;
    gap: 16px;
    align-items: center;
    white-space: nowrap;
    
    
    & a {
        position: relative;
        font-size: rem(14);
        font-weight: 700;
        line-height: rem(14);
        letter-spacing: 0.03em;
        
        &::after {
            content: '';
            scale: 0;
            position: absolute;
            bottom: -8px;
            right: 50%;
            width: 47.61%;
            height: 1.35px;
            translate: 50% 0;
            background: $primary-color;
            transition: scale 0.4s ease;
        }

        @media(any-hover: hover) {
            &:hover::after{
                scale: 1;
            }
        }
    }
}

.l-header__btn {
    padding-block: rem(12);
    padding-inline: rem(26);
    font-size: rem(16);
    line-height: rem(16);
    font-weight: 700;
    border: none;
    margin-inline: 0;

    @media(any-hover: hover) {
        &:hover {
            background: $primary-color;
            color: $sub2-color;
            translate: 0 -2px;
        }
    }

}



