.l-header {
    height: 52px;
    background: $sub2-color;
}

.l-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.l-header__logo {
    display: block;
    width: 71px;
    height: 24px;
}

.l-header__nav {

}


.l-header__list {

}

.l-header__btn {

}



