.l-section__title {
    text-align: center;
}

.l-section__title-en {
    color: $accent1-color;
    font-size: cal-clamp(22, 36);
    font-weight: 700;
    line-height: cal-clamp(22, 47.84);

}

.l-section__title-ja {
    margin-block-start: rem(12);
    font-size: cal-clamp(30, 48);
    font-weight: 700;
    line-height: cal-clamp(42, 48);
    letter-spacing: 0.05em;
    color: $primary-color;
}